:root {
  --accent-color: #ffba66;
  --dark-color: #181c2f;
  --light-color: #656b99;
  --lighter-color: #f8f8ff;
  --lightest-color: #fcfcff;
  --main-color: #333c66;
}

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  color: var(--main-color);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

/* Header */

.header {
  background-color: var(--lighter-color);
  padding: 1rem;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 2em;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--main-color);
  text-decoration: none;
}
